################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ADay15.Net.API/FileContentIndex/10ddae7a-bccd-4570-b41f-210fa245ac46.vsidx
/.vs/ADay15.Net.API/FileContentIndex/284a5131-7b3e-4323-a1e3-37ce1b5ad336.vsidx
